/* Call font to use it:
font-family: 'Yatra One', cursive;
*/
body {
  font-family: 'Yatra One', cursive;
}

#monsterCat {
  width: 320px
}
.health {
  color: red
}
#playerImg {
  width: 200px;
}
body {
  background-image: url(img/wallpapers/BassNature.jpg);
}
