/* Call font to use it:
font-family: 'Yatra One', cursive;
*/
/*Global*/
body {
  font-family: 'Yatra One', cursive;
}
body {
  background-image: url(img/wallpapers/BassNature.jpg);
}

/*Battle Page*/
#monsterCat {
  width: 320px
}
.health {
  color: red
}

.name {
  text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;
}

#player {
  float: right;
  text-align: right;
}

#playerImg {
  width: 200px;
}

#attack {
  margin-top: 2.5em;
  margin-bottom: .5em;
}
