<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <title>!RandomFighter!</title>
    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="styling.css">
  </head>
  <body class="indexPage">
    <div class="background"></div>
    <h1>SELECT YOUR FIGHTER</h1>
    <div id=choose>
      <button class="btn btn-default" id=brawler>BRAWLER</button>
      <button class="btn btn-default" id=tank>TANK</button>
      <button class="btn btn-default" id=expert>EXPERT</button>
      <button class="btn btn-default" id=nulll>No Fighting</button>
    </div>

    <p><pre id="selectedFighter"></pre></p>

    <a class="btn btn-danger btn-lg btn-block" href="battlePage.html" type="submit" id=submissionButton>PICK A FIGHTER</a>
    <a class="btn btn-success" href='leaderboard.html'>LEADERBOARD</a>
    <script src='../app/jquery.js'></script>
    <script src='../app/fighters.js'></script>
    <script src='../app/selectYourFighter.js'></script>
  </body>
</html>
